<%= simple_form_for [:admin, @product] do |f| %>
<div class="form-group">
  <%= f.input :name, input_html: { class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.input :price_venti,label: "大杯價格", input_html:{ class: "form-contorl"} %>
</div>
<div class="form-group">
  <%= f.input :price_grande,label: "中杯價格", input_html:{ class: "form-contorl"} %>
</div>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>
