<div class="pull-right" style="padding-bottom: 10px;">
  <%= link_to("新增品項",new_admin_product_path, class: "btn btn-info") %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>飲料名稱</th>
          <th>價格(中)</th>
          <th>價格(大)</th>
          <th>修改</th>
          <th>刪除</th>
        </tr>
      </thead>
      <% @products.each do |product| %>
      <tbody>
        <tr>
          <th><%= product.name %></th>
          <th><%= product.price_grande %></th>
          <th><%= product.price_venti %></th>
          <th><%= link_to("修改", edit_admin_product_path(product), class: "btn btn-primary") %></th>
          <th><%= link_to("刪除",admin_product_path(product), method: :delete, data:{confirm: "Are you sure??"}, class: "btn btn-danger") %></th>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
